header{
    align-items: flex-end;
}
.playable {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-bottom: -5px;
}
.itemImg {
    margin: 0 auto;
    background-color: #bbb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.launchPad-subgrid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 140px 140px;
    grid-template-rows: 24px 24px 24px;
}

.launchPad-grid {
    display: grid;
    grid-column-gap: 28px;
    grid-template-columns: 280px 280px 140px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:30px;
}
.flex-item {
    /*background: tomato;*/
    /*margin: 5px;*/
    /*color: white;*/
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}
.num1{
  position: relative;
}
.num2{
  position: absolute;
}
.container-start{
  grid-column-start: 2;
  overflow: auto;
}
.con2{
    width: 100%;
    overflow: auto;
    background-size: cover;
    display: flex;
    -moz-box-pack: start;
    place-content: flex-start;
    -moz-box-align: stretch;
    align-items: stretch;
    flex-flow: row wrap;
    height: 100%;
}
.con3{
  width: 200px;
    height: 200px;
    /*border: 2px solid white;*/
    color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}