header{
    align-items: flex-end;
}
.playable {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-bottom: -5px;
}
.itemImg {
    margin: 0 auto;
    background-color: #bbb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.launchPad-subgrid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 140px 140px;
    grid-template-rows: 24px 24px 24px;
}

.launchPad-grid {
    display: grid;
    grid-column-gap: 28px;
    grid-template-columns: 280px 280px 140px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:30px;
}
.flex-item {
    /*background: tomato;*/
    /*margin: 5px;*/
    /*color: white;*/
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}
.num1{
  position: relative;
}
.num2{
  position: absolute;
}
.container-start{
  grid-column-start: 2;
  overflow: auto;
}
.con2{
    width: 100%;
    overflow: auto;
    background-size: cover;
    display: flex;
    -moz-box-pack: start;
    place-content: flex-start;
    -moz-box-align: stretch;
    align-items: stretch;
    flex-flow: row wrap;
    height: 100%;
}
.con3{
  width: 105px;
    height: 105px;
    /*border: 2px solid white;*/
    color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
@media (min-width: 576px) {
    .con3 {
        width: 105px;
        height: 105px;
        /*border: 2px solid white;*/
        color: white;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        /*font-size: 40px;*/
        font-weight: bolder;
    }
}
@media (min-width: 768px) {
.con3{
  width: 130px;
    height: 130px;
    /*border: 2px solid white;*/
    color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}}

@media (min-width: 992px) {
.con3{
  width: 150px;
    height: 150px;
    /*border: 2px solid white;*/
    color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
}

@media (min-width: 1200px) {
.con3{
  width: 170px;
    height: 170px;
    /*border: 2px solid white;*/
    color: white;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}