<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Discover Mobily</title>
</head>
<body>

<header class="header" id="navbar">
    <img class="logo" src="/static/logo-small.png" alt="">
    <h1>Discover Mobily</h1>
<div class="content">
    {% if session['username'] %}
        <div class="">{{ _('Hello,') }} {{ session['nickname'] }}</div>
            <div class="dropdown-content">
                <a href="">{{ _('Account') }}</a>
                <a href="/logout/">{{ _('Logout') }}</a>
            </div>
    {% else %}
        <a class="cta" href="/spotify/login/"><button>{{ _('Login') }}</button></a>
    {% endif %}
</div>
</header>
    {% if session['username'] %}
        {% block content %}
        {% endblock %}
        <script>
        if (localStorage.getItem("access_token") === null) {
          localStorage.setItem('access_token', `{{ user.access_token }}`)
        } else if (localStorage.getItem("access_token") != `{{ user.access_token }}`) {
            localStorage.setItem('access_token', `{{ user.access_token }}`)
        }
        if (localStorage.getItem("username") === null) {
          localStorage.setItem('username', `{{ session['username'] }}`)
        } else if (localStorage.getItem("username") != `{{ session['username'] }}`) {
            localStorage.setItem('username', `{{ session['username'] }}`)
        }
        if (localStorage.getItem("country") === null) {
          localStorage.setItem('country', `{{ session['country'] }}`)
        } else if (localStorage.getItem("country") != `{{ session['country'] }}`) {
            localStorage.setItem('country', `{{ session['country'] }}`)
        }
        </script>
    {% endif %}
<footer>
    {{ _('This project was inspired by') }} <a href="https://discoverquickly.com/">Discover Quickly</a>
</footer>
</body>
    {% block javascript %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">
        </script>
    {% endblock %}
</html>