<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Discover Mobily</title>
</head>
<body>

<header class="header" id="navbar">
    <img class="logo" src="/static/logo-small.png" alt="">
    <h1>Discover Mobily</h1>
<div class="content">
    {% if session['username'] %}
        <div class="">Hello, {{ session['nickname'] }}</div>
            <div class="dropdown-content">
                <a href="">Account</a>
                <a href="/logout/">Logout</a>
            </div>
    {% else %}
        <a class="cta" href="/spotify/login/"><button>Login</button></a>
    {% endif %}
</div>
</header>
    {% if session['username'] %}
        {% block content %}
        {% endblock %}
    {% endif %}
<footer>
    This project was inspired by <a href="https://discoverquickly.com/">Discover Quickly</a>
</footer>
</body>
</html>