{% extends 'base.html' %}
{% block title %} {{ _('Home') }} {% endblock %}
{% block content %}
    <br>
    <br>
    <button class="accordion">{{ _('Your Playlists') }}</button>
        <div class="panel">
        <div id="playlistlist" style="column-gap: 16px; column-count: 3;" class="container">
        {% for p in pl %}
            <div id="{{ p['id'] }}">{{ p['name'] }}</div>
        {% endfor %}
        </div>
        <div id="playlist" class="container-fluid con2">
        </div>
        <div id="tracks" class="container-fluid con2">

        </div>
    </div>
    <button class="accordion" id="ta" onclick="topartistst()">{{ _('Your Top Artists') }}</button>
    <div class="panel">
    <div class="info">
        <span id="topartists">{{ _('Last month') }}</span>
        <span id="topartists6">{{ _('Last 6 month') }}</span>
        <span id="topartistsall">{{ _('All time') }}</span>
    </div>
        <div id="artists" class="container-fluid con2">
        </div>
            <div id="artists6" class="container-fluid con2">
        </div>
            <div id="artistsall" class="container-fluid con2">
        </div>
    </div>
    <button class="accordion" id="tt" onclick="topttracks()">{{ _('Your Top tracks') }}</button>
    <div class="panel">
        <a id="toptracks">{{ _('Last month') }}</a>
        <a id="toptrackssix">{{ _('Last 6 month') }}</a>
        <a id="toptracksall">{{ _('All time') }}</a>
        <div id="toptrack" class="container-fluid con2">

        </div>
        <div id="toptrack6" class="container-fluid con2">

        </div>
    <div id="toptrackat" class="container-fluid con2">

    </div>
    </div>
    <button class="accordion" onclick="saved_albums()">{{ _('Your Saved albums') }}</button>
    <div class="panel">
        <div id="savedalbum" class="container-fluid con2"></div>
    </div>
    <button class="accordion" onclick="savedtracks()">{{ _('Your Saved tracks') }}</button>
    <div class="panel">
        <div id="savedtrack" class="container-fluid con2"></div>
    </div>

{% endblock %}