{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <br>
    <br>
    <button class="accordion">Playlists</button>
        <div class="panel">
        <div id="playlistlist" style="column-gap: 16px; column-count: 3;" class="container">
        {% for p in pl %}
            <div id="{{ p['id'] }}" onclick="initElement('{{ p['id'] }}')">{{ p['name'] }}</div>
        {% endfor %}
        </div>
        <div id="playlist" class="container-fluid con2">
        </div>
        <div id="tracks" class="container-fluid con2">

        </div>
    </div>
    <button class="accordion" onclick="topartists()">Artists</button>
    <div class="panel">
        <a id="topartists">Last month</a>
        <a id="topartists6">Last 6 month</a>
        <a id="topartistsall">All time</a>
        <div id="artists" class="container-fluid con2">
        </div>
            <div id="artists6" class="container-fluid con2">
        </div>
            <div id="artistsall" class="container-fluid con2">
        </div>
    </div>
    <button class="accordion" onclick="toptracks()">Top tracks</button>
    <div class="panel">
        <a id="toptracks">Last month</a>
        <a id="toptrackssix">Last 6 month</a>
        <a id="toptracksall">All time</a>
        <div id="toptrack" class="container-fluid con2">

        </div>
        <div id="toptracks6" class="container-fluid con2">

        </div>
    <div id="toptracksat" class="container-fluid con2">

    </div>
    </div>
    <button class="accordion" onclick="saved_albums()">Saved albums</button>
    <div class="panel">
        <div id="savedalbum" class="container-fluid con2"></div>
    </div>
    <button class="accordion" onclick="savedtracks()">Saved tracks</button>
    <div class="panel">
        <div id="savedtrack" class="container-fluid con2"></div>
    </div>
    <script>
          function initElement(id) {
              console.log(id)
              let url = 'https://api.spotify.com/v1/playlists/' + id + '?fields=name,id,description,images,tracks(items(track(name,preview_url,id,artists,album(artists,id,images))))'
              console.log(url)
              let xhr = new XMLHttpRequest()
              xhr.open('GET',url,true)
              xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
              xhr.send()
              xhr.onload = function (){
                  if (xhr.status === 200){
                      let data = JSON.parse(this.response)
                      console.log(data)
                      let tracks = document.getElementById('tracks')
                      tracks.innerHTML = ''
                      let name = data['name']
                      let description = data['description']
                      let image = data['images'][0]['url']
                      let playtrack = data['tracks']['items']
                      console.log(playtrack)


                      let playlistdiv = document.getElementById('playlist')
                      playlistdiv.innerHTML = ''
                      let names = document.createElement('div')
                      names.innerText = name
                      names.className = 'con3'
                      playlistdiv.appendChild(names)
                      let descriptions = document.createElement('div')
                      descriptions.innerText = description
                      descriptions.className = 'con3'
                      playlistdiv.appendChild(descriptions)
                      let cover = document.createElement('div')
                      cover.className = 'con3'
                      cover.style.backgroundImage = "url('"+image+"')"
                      cover.style.backgroundRepeat = 'no-repeat'
                      cover.style.backgroundSize = 'cover'
                      playlistdiv.appendChild(cover)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['track']['id']} style="background-image: url(${pla['track']['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['track']['id']}')"><div tabindex="0" class="text"> ${list(pla['track']['artists'])} -  ${pla['track']['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['track']['id']}" src="${pla['track']['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }

                  } else if(xhr.status === 401){
                      let url = '/spotify/refresh_token/' + session['username']
                      let xhr = new XMLHttpRequest()
                      xhr.open('GET',url,true)
                      xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
                      xhr.send()
                      xhr.onload = function (){
                        if (xhr.status === 200){
                            initElement(id)
                }
            }
                  }
          }}
          function playtrack(id) {
              let all = document.querySelectorAll('[id^="a_"]');
              for (let elem of all) {
                  elem.pause()
              }
              let audio = document.getElementById('a_' + id)
              if (audio.paused == false){
                  audio.pause()
              } else
                audio.play();
          }
        function list(artists){
          const names = artists.map(({ name }) => name);
          const finalName = names.pop();
          return names.length
          ? names.join(', ') + ' & ' + finalName
          : finalName;
        }
        function topartists () {
            let url = 'https://api.spotify.com/v1/me/top/artists?time_range=short_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let artis = document.getElementById('artists')
                    let items = data['items']
                    let elem = []
                      for (const it of items){
                          elem.push(`<div class="con3" id=${it['id']} style="background-image: url(${it['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${it['name']}</div></div>`)
                      }
                      artis.innerHTML = elem.join(' ')
                    console.log(data)
                } else if(xhr.status === 401){
                      let url = '/spotify/refresh_token/' + session['username']
                      let xhr = new XMLHttpRequest()
                      xhr.open('GET',url,true)
                      xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
                      xhr.send()
                      xhr.onload = function (){
                        if (xhr.status === 200){
                            topartists()
                }
            }
                  }
            }
        }
          document.getElementById('topartists6').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/artists?time_range=medium_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let artis = document.getElementById('artists')
                    let items = data['items']
                    let elem = []
                      for (const it of items){
                          elem.push(`<div class="con3" id=${it['id']} style="background-image: url(${it['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${it['name']}</div></div>`)
                      }
                      artis.innerHTML = elem.join(' ')
                    console.log(data)
                }
            }
        })
                  document.getElementById('topartistsall').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/artists?time_range=long_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let artis = document.getElementById('artists')
                    let items = data['items']
                    let elem = []
                      for (const it of items){
                          elem.push(`<div class="con3" id=${it['id']} style="background-image: url(${it['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${it['name']}</div></div>`)
                      }
                      artis.innerHTML = elem.join(' ')
                    console.log(data)
                }
            }
        })
        function toptracks () {
            let url = 'https://api.spotify.com/v1/me/top/tracks?time_range=short_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let tracks = document.getElementById('toptrack')
                      tracks.innerHTML = ''
                      let playtrack = data['items']
                      console.log(playtrack)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['id']} style="background-image: url(${pla['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['id']}')"><div tabindex="0" class="text"> ${list(pla['artists'])} -  ${pla['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['id']}" src="${pla['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                    document.getElementById('toptrack').style.display = 'flex'
                    document.getElementById('toptracks6').style.display = 'none'
                    document.getElementById('toptracksat').style.display = 'none'
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }
                    console.log(data)
                } else if(xhr.status === 401){
                      let url = '/spotify/refresh_token/' + session['username']
                      let xhr = new XMLHttpRequest()
                      xhr.open('GET',url,true)
                      xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
                      xhr.send()
                      xhr.onload = function (){
                        if (xhr.status === 200){
                            toptracks()
                }
            }
                  }
            }
        }
          document.getElementById('toptrackssix').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/tracks?time_range=medium_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let tracks = document.getElementById('toptracks6')
                      tracks.innerHTML = ''
                      let playtrack = data['items']
                      console.log(playtrack)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['id']} style="background-image: url(${pla['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['id']}')"><div tabindex="0" class="text"> ${list(pla['artists'])} -  ${pla['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['id']}" src="${pla['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                    document.getElementById('toptracks6').style.display = 'flex'
                    document.getElementById('toptrack').style.display = 'none'
                    document.getElementById('toptracksat').style.display = 'none'
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }
                    console.log(data)
                }
            }
        })
                    document.getElementById('toptracksall').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/tracks?time_range=long_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let tracks = document.getElementById('toptracksat')
                      tracks.innerHTML = ''
                      let playtrack = data['items']
                      console.log(playtrack)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['id']} style="background-image: url(${pla['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['id']}')"><div tabindex="0" class="text"> ${list(pla['artists'])} -  ${pla['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['id']}" src="${pla['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                    document.getElementById('toptracksat').style.display = 'flex'
                    document.getElementById('toptrack').style.display = 'none'
                    document.getElementById('toptracks6').style.display = 'none'
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }
                    console.log(data)
                }
            }
        })
        function saved_albums () {
            let url = 'https://api.spotify.com/v1/me/albums'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let albums = document.getElementById('savedalbum')
                    albums.innerHTML = ''
                    let savedalbum = data['items']
                    console.log(savedalbum)
                    let elem = []
                    for (const sa of savedalbum){
                          elem.push(`<div class="con3" id=${sa['album']['id']} style="background-image: url(${sa['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${sa['album']['name']}</div></div>`)
                      }
                    albums.innerHTML = elem.join(' ')
                    {#let zerosrc = document.querySelectorAll('[src=null]')#}
                    {#for (let z of zerosrc) {#}
                    {#      let curr = z.id.replace('a_','')#}
                    {#      document.getElementById(curr).style.opacity = '.5'#}
                    {#  }#}
                    console.log(data)
                }
            }
        }
        function savedtracks () {
            document.getElementById('savedtrack').innerHTML = ''
            sendRequest(0)
        }
          function sendRequest(offset){
            let url = 'https://api.spotify.com/v1/me/tracks?offset=' + offset + '&limit=50'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    console.log(data)
                    let items = data['items']
                    let elem = []
                    for (const pla of items){
                        elem.push(`<div class="con3" id=${pla['track']['id']} style="background-image: url(${pla['track']['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['track']['id']}')"><div tabindex="0" class="text"> ${list(pla['track']['artists'])} -  ${pla['track']['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['track']['id']}" src="${pla['track']['preview_url']}"></div>`)
                    }
                    document.getElementById('savedtrack').innerHTML += elem.join(' ')
                    if (items.length > 0){
                        sendRequest(offset+50)


                    }
                } else {
                    console.log('xhr status 277 ' + xhr.status)
                }
            }
          }
          let acc = document.getElementsByClassName("accordion");
            let i;

            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                let panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
    </script>
{% endblock %}