{% extends 'base.html' %}
{% block content %}
    <div class="launchPad inverted">
        <div class="launchPad-grid">
        <div style="grid-column: 1 / 2;">
            <div class="launchPad-subgrid">
                <div class="button option view-link active" style="grid-area: 1 / 1 / 2 / 2;">Your Playlists</div>
                <div class="button option view-link " style="grid-area: 2 / 1 / 3 / 2;">Your Top Tracks</div>
                <div class="button option view-link " style="grid-area: 3 / 1 / 3 / 2;">Your Top Artists</div>
                <div class="button option view-link " style="grid-area: 1 / 2 / 2 / 3;">Your Saved Tracks</div>
                <div class="button option view-link " style="grid-area: 2 / 2 / 3 / 3;">Your Saved Albums</div>
                <div class="button option view-link " style="grid-area: 3 / 2 / 3 / 3;">Your Followed Artists</div>
            </div></div>
        <div style="grid-column: 2 / 3;">
            <div class="launchPad-subgrid">
                <div class="button option view-link  disabled-launch-option" tooltip="Follow your Discover Weekly playlist on Spotify to view it here" tooltip-position="right" style="grid-area: 1 / 1 / 2 / 2;">Discover Weekly</div>
                <div class="button option view-link  disabled-launch-option" tooltip="Follow your Release Radar playlist on Spotify to view it here" tooltip-position="right" style="grid-area: 2 / 1 / 3 / 2;">Release Radar</div>
                <div class="button option view-link " style="grid-area: 3 / 1 / 4 / 2;">Charts</div><div class="button option view-link " style="grid-area: 1 / 2 / 2 / 3;">Spotify Playlists</div>
                <div class="button option view-link " style="grid-area: 2 / 2 / 3 / 3;">Genres</div><div class="button option view-link " style="grid-area: 3 / 2 / 4 / 3;">New Releases</div></div></div>
        <div style="grid-column: 3 / 4;"><div class=""><input class="search-bar" type="text" placeholder="Search" value=""></div>
            <div class="button option view-link launchPad-random ">Random Artist</div>
            <div class="button option view-link launchPad-random ">Random Genre</div>
        </div>
    </div>
    </div>
    <div class="header flex-container" style="align-items: flex-end">
        <div class="cover"></div>
        <div class="flex-grow: 5;"></div>
        <div class="dropdown">
            <select style="max-width: 160px;"><option value="">Sort by playlist order</option><option value="artist">Sort by artist</option><option value="album">Sort by album</option><option value="popularity">Sort by popularity (least to most)</option><option value="releaseDate">Sort by release date</option><option value="tempo">Sort slowest to fastest</option><option value="valence">Sort happiest to saddest</option><option value="danceability">Sort by most to least danceable</option><option value="duration">Sort by song length (short to long)</option><option value="acoustic">Sort acoustic to electric</option></select>
        </div>
    </div>
    <div class="body">
        <div class="itemGrid">

            <div class="playable"></div>
        </div>
    </div>
{% endblock %}