{% block content %}
        <div style="column-gap: 16px; column-count: 3;">
        {% for p in pl %}
            <div id="{{ p['id'] }}" onclick="initElement('{{ p['id'] }}')">{{ p['name'] }}</div>
        {% endfor %}
        </div>
        <div id="playlist" class="playlist">
        </div>
        <div id="tracks" class="flex-container">

        </div>
    <script>
          function initElement(id) {
              console.log(id)
              let url = '/spotify/playlists/' + id
              console.log(url)
              let xhr = new XMLHttpRequest()
              xhr.open('GET',url,true)
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
              xhr.send()
              xhr.onload = function (){
                  if (xhr.status === 200){
                      let data = JSON.parse(this.response)
                      console.log(data)
                      let tracks = document.getElementById('tracks')
                      let name = data['name']
                      let description = data['description']
                      let image = data['images'][0]['url']
                      let playtrack = data['tracks']['items']
                      console.log(playtrack)

                      let playlistdiv = document.getElementById('playlist')
                      let names = document.createElement('div')
                      names.innerText = name
                      playlistdiv.appendChild(names)
                      let descriptions = document.createElement('div')
                      descriptions.innerText = description
                      playlistdiv.appendChild(descriptions)
                      let cover = document.createElement('div')
                      cover.style.backgroundImage = url(image)
                      playlistdiv.appendChild(cover)

                      playtrack.forEach(e => tracks.innerHTML += `<div class="flex-item" id=${e['track']['id']} style="background-image: url(${e['track']['album']['images'][0]['url']})" onclick="playtrack('${e['track']['id']}')">${e['track']['name']}<audio type="audio/mpeg" preload="none" id="a_${e['track']['id']}" src="${e['track']['preview_url']}"></div>`)
                      ;}
                  }
          }
          function playtrack(id) {
              let all = document.querySelectorAll('[id^="a_"]');
              for (let elem of all) {
                  elem.pause()
              }
              let audio = document.getElementById('a_' + id)
              audio.play();
          }
    </script>
{% endblock %}