{% extends 'base.html' %}
{% block title %}  {% endblock %}
{% block content %}
        <div style="column-gap: 16px; column-count: 3;" class="container">
        {% for p in pl %}
            <div id="{{ p['id'] }}" onclick="initElement('{{ p['id'] }}')">{{ p['name'] }}</div>
        {% endfor %}
        </div>
    <br>
    <br>
        <a id="topartists">Artists</a>
        <div id="artists" class="container-fluid con2">

        </div>
        <a id="toptracks">Top tracks</a>
        <div id="toptrack" class="container-fluid con2">

        </div>
        <a id="savedalbums">Saved albums</a>
        <div id="savedalbum" class="container-fluid con2"></div>
        <a id="savedtracks">Saved tracks</a>
        <div id="savedtrack" class="container-fluid con2"></div>
        <a id="playlists">Playlists</a>
        <div id="playlist" class="container-fluid con2">
        </div>
        <div id="tracks" class="container-fluid con2">

        </div>
    <script>
          function initElement(id) {
              console.log(id)
              let url = 'https://api.spotify.com/v1/playlists/' + id + '?fields=name,id,description,images,tracks(items(track(name,preview_url,id,artists,album(artists,id,images))))'
              console.log(url)
              let xhr = new XMLHttpRequest()
              xhr.open('GET',url,true)
              xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
              xhr.send()
              xhr.onload = function (){
                  if (xhr.status === 200){
                      let data = JSON.parse(this.response)
                      console.log(data)
                      let tracks = document.getElementById('tracks')
                      tracks.innerHTML = ''
                      let name = data['name']
                      let description = data['description']
                      let image = data['images'][0]['url']
                      let playtrack = data['tracks']['items']
                      console.log(playtrack)


                      let playlistdiv = document.getElementById('playlist')
                      playlistdiv.innerHTML = ''
                      let names = document.createElement('div')
                      names.innerText = name
                      names.className = 'con3'
                      playlistdiv.appendChild(names)
                      let descriptions = document.createElement('div')
                      descriptions.innerText = description
                      descriptions.className = 'con3'
                      playlistdiv.appendChild(descriptions)
                      let cover = document.createElement('div')
                      cover.className = 'con3'
                      cover.style.backgroundImage = "url('"+image+"')"
                      cover.style.backgroundRepeat = 'no-repeat'
                      cover.style.backgroundSize = 'cover'
                      playlistdiv.appendChild(cover)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['track']['id']} style="background-image: url(${pla['track']['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['track']['id']}')"><div tabindex="0" class="text"> ${list(pla['track']['artists'])} -  ${pla['track']['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['track']['id']}" src="${pla['track']['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }

                  } else if(xhr.status === 401){
                      url_for('refresh')
                  }
          }}
          function playtrack(id) {
              let all = document.querySelectorAll('[id^="a_"]');
              for (let elem of all) {
                  elem.pause()
              }
              let audio = document.getElementById('a_' + id)
              audio.play();
          }
        function list(artists){
          const names = artists.map(({ name }) => name);
          const finalName = names.pop();
          return names.length
          ? names.join(', ') + ' & ' + finalName
          : finalName;
        }
        document.getElementById('topartists').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/artists?time_range=short_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let artis = document.getElementById('artists')
                    let items = data['items']
                    let elem = []
                      for (const it of items){
                          elem.push(`<div class="con3" id=${it['id']} style="background-image: url(${it['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${it['name']}</div></div>`)
                      }
                      artis.innerHTML = elem.join(' ')
                    console.log(data)
                }
            }
        })
        document.getElementById('toptracks').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/top/tracks?time_range=short_term'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let tracks = document.getElementById('toptrack')
                      tracks.innerHTML = ''
                      let playtrack = data['items']
                      console.log(playtrack)
                      let elem = []
                      for (const pla of playtrack){
                          elem.push(`<div class="con3" id=${pla['id']} style="background-image: url(${pla['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover" onclick="playtrack('${pla['id']}')"><div tabindex="0" class="text"> ${list(pla['artists'])} -  ${pla['name']}</div><audio type="audio/mpeg" preload="none" id="a_${pla['id']}" src="${pla['preview_url']}"></div>`)
                      }
                      tracks.innerHTML = elem.join(' ')
                      let zerosrc = document.querySelectorAll('[src=null]')
                      for (let z of zerosrc) {
                          let curr = z.id.replace('a_','')
                          document.getElementById(curr).style.opacity = '.5'
                      }
                    console.log(data)
                }
            }
        })
        document.getElementById('savedalbums').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/albums'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    let albums = document.getElementById('savedalbum')
                    albums.innerHTML = ''
                    let savedalbum = data['items']
                    console.log(savedalbum)
                    let elem = []
                    for (const sa of savedalbum){
                          elem.push(`<div class="con3" id=${sa['album']['id']} style="background-image: url(${sa['album']['images'][0]['url']});background-repeat: no-repeat;background-size: cover"><div tabindex="0" class="text">${sa['album']['name']}</div></div>`)
                      }
                    albums.innerHTML = elem.join(' ')
                    {#let zerosrc = document.querySelectorAll('[src=null]')#}
                    {#for (let z of zerosrc) {#}
                    {#      let curr = z.id.replace('a_','')#}
                    {#      document.getElementById(curr).style.opacity = '.5'#}
                    {#  }#}
                    console.log(data)
                }
            }
        })
        document.getElementById('savedtracks').addEventListener('click', function () {
            let url = 'https://api.spotify.com/v1/me/tracks'
            console.log(url)
            let xhr = new XMLHttpRequest()
            xhr.open('GET',url,true)
            xhr.setRequestHeader('Authorization', 'Bearer ' + '{{ user.access_token }}');
            xhr.send()
            xhr.onload = function (){
                if (xhr.status === 200){
                    let data = JSON.parse(this.response)
                    console.log(data)
                }
            }
        })
    </script>
{% endblock %}