{% block content %}
        <div style="column-gap: 16px; column-count: 3;">
        {% for p in pl %}
            <div id="{{ p['id'] }}" onclick="initElement('{{ p['id'] }}')">{{ p['name'] }}</div>
        {% endfor %}
        </div>
        <div id="playlist" class="playlist">

        </div>
    <script>
          function initElement(id) {
              console.log(id)
              let url = '/spotify/playlists/' + id
              console.log(url)
              let xhr = new XMLHttpRequest()
              xhr.open('GET',url,true)
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
              xhr.send()
              xhr.onload = function (){
                  if (xhr.status === 200){
                      let data = JSON.parse(this.response)
                      console.log(data)
                      let name = data['name']
                      let description = data['description']

                      document.getElementById('playlist').innerHTML = name + ' ' + description
                  }}
          }
    </script>
{% endblock %}